---
import MainLayout from "../layout/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import ArticleCard from "../components/ArticleCard.astro"

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
    .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>)=> 
        b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostResentArticle: CollectionEntry<'blog'> = allBlogArticles[0];
const otherArticle: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TechPeople-Blog</title>
	</head>
	<body>
		<MainLayout>
			 <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>

      <SearchForm />
    </div>
    <!-- <MostRecentArticle article={mostRecentArticle} /> -->
  </div>

  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
   {otherArticle.slice(0, HOMEPAGE_ARTICLE_LIMIT).map(article => (
    <ArticleCard article={article} />
   ))}
  </div>
		</MainLayout>
	</body>
</html>
