.intro-text{
    width: 30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
}
.intro-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.intro-content img{
    float: right;
    margin-top: -110px;
}

.container img{
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    width: 100%;
}

.intro-appear{
    opacity: 1;
    transform: translateY(0px);
    color: lightcoral;
}

