---

---

<form action="#">
    <div class="mb-4">
      <label
        for="emailaddress"
        class="block text-base/normal font-semibold text-gray-200 mb-2"
        >Email address</label
      >
      <input
        class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 text-white/80 focus:border-white/25 focus:outline-0 focus:ring-0"
        type="email"
        id="emailaddress"
        required=""
        placeholder="Enter your email"
      />
    </div>
    <!-- end email input -->
    <div class="mb-4">
      <label
        for="password"
        class="block text-base/normal font-semibold text-gray-200 mb-2"
        >Password</label
      >
      <input
        class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 text-white/80 focus:border-white/25 focus:outline-0 focus:ring-0"
        type="password"
        required=""
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <!-- end password input -->
    <div class="mb-4">
      <label
        for="conformpassword"
        class="block text-base/normal font-semibold text-gray-200 mb-2"
        >Conform Password</label
      >
      <input
        class="block w-full rounded py-1.5 px-3 bg-transparent border-white/10 text-white/80 focus:border-white/25 focus:outline-0 focus:ring-0"
        type="password"
        required=""
        id="password"
        placeholder="Enter your conform password"
      />
    </div>
    <!-- end conform password -->
    <div class="mb-6 text-center">
      <a
        href="#"
        class="w-full inline-flex items-center justify-center px-6 py-2 backdrop-blur-2xl bg-white/20 text-white rounded-lg transition-all duration-500 group hover:bg-blue-600/60 hover:text-white mt-5"
        type="submit"
        >Log In
      </a>
    </div>
  </form>