*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px  solid black;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}

/* #prevbtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextbtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
} */